$fs-super: 4em;
$fs-title: 2.5em;
$fs-body: 1em;
$fs-small: .75em;
$fs-link: .9em;

$ff-heading: 'Bebas Neue', sans-serif;
// $ff-heading: 'Staatliches', sans-serif;
$ff-body: 'Inter', sans-serif;

/* $clr-accent1: #ffb36d; */
$clr-blue: #00008B;
$clr-yellow: #FFD700;
$clr-dark: #0d0d0d;
$clr-light: #f4f4f4;

$fw-bold: 800;
$fw-normal: 400;
$fw-thin: 100;